* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f1;
  font-family: 'Open Sans', sans-serif;
}

section {
  position: relative;
  padding: 0 30px;
}

article {
  position: relative;
  width: 80%;
  margin: 80px auto 0;
  z-index: 500;
  background: #ffffff;
  padding: 80px 80px 70px;
  border-right: 1px solid #f4f4f1;
  border-bottom: 1px solid #f4f4f1;
}

article p {
  margin-top: 18px;
  color: #404649;
  font-weight: 400;
}

/* The author card */

@-webkit-keyframes moveOut {
  0%    {
    top: 50px;
    right: 10%;
    z-index: 400;
    -webkit-transform:rotate(7deg); /* Safari and Chrome */
  }
  50%   {
    right: 2%;
    z-index: 400;
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
  }
  51%   {
    z-index: 600;
  }
  100%  {
    z-index: 600;
    right: 10%;
  }
}

@-webkit-keyframes moveIn {
  100%    {
    top: 50px;
    right: 10%;
    z-index: 400;
    -webkit-transform:rotate(7deg); /* Safari and Chrome */
  }
  51%   {
    right: 2%;
    z-index: 400;
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
  }
  50%   {
    z-index: 600;
  }
  0%  {
    z-index: 600;
    right: 10%;
  }
}
.author {
  -webkit-animation: moveIn 0.3s;
  
  position: absolute;
  width: 200px;
  background: #ffffff;
  text-align: center;
  padding: 15px;
  border-left: 1px solid #f4f4f1;
  border-bottom: 1px solid #f4f4f1;

    top: 50px;
    right: 10%;
    z-index: 400;
    -webkit-transform:rotate(7deg); /* Safari and Chrome */
}

.author:before {
  content: "author";
  display: block;
  text-align: right;
  margin-top: -10px;
  margin-right: -10px;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #dce5ed
}

.author:hover {
    -webkit-animation: moveOut 0.3s forwards;

    right: 10%;
    z-index: 600;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
}

.author a.name {
  display: block;
  text-align: center;
  color: #507da5;
  text-decoration: none;  
  font-weight: 600;
}

.author img.circle {
    border-radius: 100%;
}

.author p {
    text-align: left;
    font-size: 12px;
    margin-top: 18px;
    color: #404649;
    font-weight: 400;
}

body {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

